$mycolor: bisque;

@mixin commonTraits {
    border-radius: 10px;
    margin-right: -12em;
    margin-left: -12em;
}

* { box-sizing: border-box }

body {
    margin: 0; /* tek út sjálgefið 10px margin */
    /* font-family: ;*/
    font: 400 1em/1.5 ,'Gothic A1'sans-serif; /* samsett skipun: weight/height, size, family */
}

.container {
    width: 80%;
    margin: auto;
    margin-top: 3em;
}
.color{
    background: $mycolor;
}
.button{
    background: indigo;
}

.mybutton{
    background: red;
}

img{
    max-width: 20em;
    height: auto;
}
.card{
    border-radius:.2em;
    border:1px solid bisque;overflow:hidden;text-align:left;
    background: beige ;margin-bottom:.6em;
    padding:0;transition:all .3s ease;
    font: 400 1em/1.5 ,'Gothic A1'sans-serif;
}

.three {
    display: grid;
    grid-template-columns: 1fr;
}

.bgcolor3{
    background: linear-gradient(to top, rgb(9, 39, 105), rgb(8, 163, 202));
    padding: 1em;
    text-align: center;
}

.marginheader{
    margin-top: -3em;
    @include commonTraits()
}

.marginfooter{
    margin-bottom: -3em;
    @include commonTraits()
}
/*------------48em---------*/
@media screen and (min-width: 48em){
    .three {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1em;
    }

}

/*------------60em-----------*/
@media screen and (min-width: 60em){

    .three {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}