@charset "UTF-8";
@font-face {
  font-family: 'icomoon';
  src: url("fonts/icomoon.eot?5drimf");
  src: url("fonts/icomoon.eot?5drimf#iefix") format("embedded-opentype"), url("fonts/icomoon.ttf?5drimf") format("truetype"), url("fonts/icomoon.woff?5drimf") format("woff"), url("fonts/icomoon.svg?5drimf#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-drawing4:before {
  content: "\e900";
}

.icon-drawing3:before {
  content: "\e901";
}

.icon-drawing2:before {
  content: "\e902";
}

.icon-drawing1:before {
  content: "\e903";
}

.icon-drawing:before {
  content: "\e904";
}

.icon-twitter:before {
  content: "\ea96";
}

.icon-steam:before {
  content: "\eaac";
}

.icon-github:before {
  content: "\eab0";
}

.icon-soundcloud:before {
  content: "\eac3";
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  /* tek út sjálgefið 10px margin */
  /* font-family: ;*/
  font: 400 1em/1.5, "Gothic A1" sans-serif;
  /* samsett skipun: weight/height, size, family */
}

.container {
  width: 80%;
  margin: auto;
  margin-top: 3em;
}

.color {
  background: bisque;
}

.button {
  background: #c36db5;
  font-size: 0.8em;
  color: #fff;
  padding: .2em .5em;
  border-radius: .5em;
  border: 1px solid #7e7e7e;
}

.virkur {
  background-color: #c3ba99;
}

.topnav {
  padding-top: 1em;
}

.topmenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row;
  flex-flow: row;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.headcol-2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 4fr;
  grid-template-columns: 1fr 4fr;
}

.topmenu a {
  display: block;
  padding: .9em 1em;
  color: #592550;
  text-decoration: none;
  text-transform: uppercase;
  text-align: left;
}

.topmenu a:hover {
  background-color: #bab089;
}

.headcol-2, .col-2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
}

.headcol-2, .col-2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
}

.col-4 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr [4];
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1em;
}

.col-3-1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3.25fr 1fr;
  grid-template-columns: 3.25fr 1fr;
  grid-gap: 2em;
      grid-template-areas: "splashlogo auglysing" "kynning    auglysing";
}

.mybutton {
  display: block;
  width: 6em;
  background: #8f3b81;
  font-size: 1.2em;
  color: #fff;
  text-decoration: none;
  text-align: center;
  font-style: oblique;
  padding: .2em .5em;
  margin: .8em 0;
  border-radius: .5em;
  border: 1px solid #7e7e7e;
}

img {
  max-width: 20em;
  height: auto;
}

.auglysing {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: auglysing;
  border: 1px dotted;
  padding: 1em;
  text-align: center;
  background-color: white;
}

#lineMiddle,
#lineLeft,
#lineRight {
  -webkit-animation: line 1s ease-in-out infinite alternate;
          animation: line 1s ease-in-out infinite alternate;
}

#Braud {
  -webkit-animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
          animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.125s infinite, swell 7s ease -1.25s infinite;
          animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.125s infinite, swell 7s ease -1.25s infinite;
}

@-webkit-keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}

@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}

@-webkit-keyframes swell {
  0%, 100% {
    -webkit-transform: translate3d(0, -1px, 0);
            transform: translate3d(0, -1px, 0);
  }
  50% {
    -webkit-transform: translate3d(0, 1px, 0);
            transform: translate3d(0, 1px, 0);
  }
}

@keyframes swell {
  0%, 100% {
    -webkit-transform: translate3d(0, -1px, 0);
            transform: translate3d(0, -1px, 0);
  }
  50% {
    -webkit-transform: translate3d(0, 1px, 0);
            transform: translate3d(0, 1px, 0);
  }
}

@-webkit-keyframes line {
  from {
    -webkit-transform: rotatex(0deg);
            transform: rotatex(0deg);
  }
  to {
    -webkit-transform: rotateX(30deg);
            transform: rotateX(30deg);
  }
}

@keyframes line {
  from {
    -webkit-transform: rotatex(0deg);
            transform: rotatex(0deg);
  }
  to {
    -webkit-transform: rotateX(30deg);
            transform: rotateX(30deg);
  }
}

.card {
  border-radius: .5em;
  border: 1px solid #7e7e7e;
  background-color: #fff;
  -webkit-box-shadow: -5px 10px 10px #afaca8;
  box-shadow: -5px 10px 10px #afaca8;
  padding: 1em;
}

.stretch {
  display: -ms-grid;
  display: grid;
  -ms-grid-column-align: stretch;
  justify-self: stretch;
}

.github:hover, .soundcloud:hover {
  background-color: #a79a69;
  -webkit-transition: width 1s ease;
  transition: width 1s ease;
}

.three {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

.bgcolor3 {
  background: -webkit-gradient(linear, left bottom, left top, from(#092769), to(#08a3ca));
  background: linear-gradient(to top, #092769, #08a3ca);
  padding: 1em;
  text-align: center;
}

.marginheader {
  margin-top: -3em;
  border-radius: 10px;
  margin-right: -12em;
  margin-left: -12em;
}

.marginfooter {
  margin-bottom: -3em;
  border-radius: 10px;
  margin-right: -12em;
  margin-left: -12em;
}

.steam, .twitter, .github, .soundcloud {
  position: relative;
  height: 2em;
  width: 2.5em;
  padding: .8em 0 0 0;
  border-radius: 50%;
  background-color: #8b7f51;
  -webkit-transition: width 1s ease;
  transition: width 1s ease;
}

.sMedia a {
  display: block;
  margin: 0 .5em;
  padding: 0;
  text-align: center;
  color: white;
  text-decoration: none;
  font-size: 1.1em;
}

.sMedia {
  display: block;
  position: fixed;
  top: 7em;
  right: .4em;
  height: 10em;
  width: 2.5em;
}

.sMedia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row;
  flex-flow: row;
  position: relative;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

/*------------48em---------*/
@media screen and (min-width: 48em) {
  .three {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
  }
}

/*------------60em-----------*/
@media screen and (min-width: 60em) {
  .three {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
  .sMedia {
    display: block;
    position: fixed;
    top: 7em;
    right: .4em;
    height: 10em;
    width: 2.5em;
  }
  .sMedia div {
    width: 2.5em;
    margin: .2em 0;
    padding: .6em 0 0 0;
  }
  .steam, .twitter, .github, .soundcloud {
    padding: .6em .6em 0 0;
  }
  .headcol-2 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 4fr;
    grid-template-columns: 1fr 4fr;
  }
  .col-2 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2em;
  }
  .col-3 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2em;
  }
  .col-4 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr [4];
    grid-template-columns: repeat(4 1fr);
    grid-gap: 2em;
  }
  .topmenu {
    display: -webkit-box;
    display: -ms-flexbox;
    list-style-type: none;
    margin: 0 0 .5em 0;
    padding: 0;
  }
}
/*# sourceMappingURL=style.css.map */